form {

    margin: 0 auto;
    width: 400px;
    padding: 1em;
    border: 4px double #09568d ;
    border-radius: 1em;
  }
  
  input  {
    font: 1em sans-serif;
    size: 30;
    box-sizing: border-box;
    border: 1px solid #999;
  }
  
  .button {
    padding-left: 90px; 
  }
  
  button {
    margin-left: .5em;
  }