body {
  background-image: linear-gradient(to bottom right,#FFFF00, #0000FF);
}

div {
  height: 175px;
  width: 200px;
  border: 2px solid black;
  font-weight: bold;
  margin: 25px;
  padding: 20px;
  background-color: ghostwhite;
}