body {
  background-image: linear-gradient(to bottom right,#FFFF00, #0000FF);
}

div {
  margin: 25px;
  padding: 5px;
  height: 175px;
  width: 200px;
  text-align: center;
  border: 2px solid black;
  border-radius: 5px;
  font-weight: bold;
  background-color: ghostwhite;
}
h1 {
  font-family: cursive;
  text-align: center;
}