body {
    margin: 0px;
    padding: 0px;
    background-color: #1fb5d3;
    font-family: 'Merienda', cursive;
}

h1 {
    color: #0c1485;
    font-size: 40px;
    font-weight: bolder;
    margin: 0px;
}

label {
    color: #0c1485;
    font-size: 20px;
    font-weight: bold;
}

section {
    text-align: center;
    border: 5px solid black;
    border-radius: 10px;
    margin-top: 5%;
    margin-left: 10%;
    margin-right: 10%;
    background-image: linear-gradient(white, blue);
    background-size: cover;
    background-position: center;
    padding-bottom: 30px;
    padding-top: 30px;
}

#title {
    width: 50%;
    border: 1px solid black;
    border-radius: 10px;
    height: 30px;
    text-align: center;
    font-size: 15px;
}

#description {
    width: 50%;
    height: 30px;
    text-align: center;
    border-radius: 10px;
    border: 2px solid black;
    font-size: 15px;
}

#enter {
    margin-top: 10px;
    font-size: 15px;
    border-radius: 5px;
}

h3 {
    color: black;
    font-size: 25px;
    width: 100%;
    margin: 0px;
    border-bottom: 5px solid black;
}

p {
    font-size: 15px;
    font-weight: normal;
    margin: 0px;
}

div {
    border: 1px solid none;
    border-radius: 10px;
    margin-top: 5px;
    margin-left: 15%;
    margin-right: 15%;
    text-align: center;
    background-color: blue;
    padding-bottom: 8px;
    padding-top: 8px;
}

/* tablet and desktop */

@media only screen and (min-width: 1000px) {
    section {
        margin-left: 20%;
        margin-right: 20%;
    }
    div {
        margin-left: 25%;
        margin-right: 25%;
    }
}